<!doctype html>
<head>
<link  href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{asset('css/stylesPages.css')}}">
</head>
<html>


<nav class="navbar navbar-expand-sm  navbar-dark sticky-top azulnav" >
  <a class="navbar-brand"  style="color:blue;" href="../../public/index.php">Inicio</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"  style="color:blue;" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  style="color:blue;" href="../../public/index.php/iniciarsesion">Iniciar sesion</a>
    </li>
  </ul>
</nav>



</html>